*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color:#4987A2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.logolivros{
    width: 03%;
}

.hipotese-imagem{
    width: 15%;
}